.reviewCard {
  margin: 4px 0;
  background-color: rgb(208, 201, 193);
  border: solid 1px black;
  border-radius: 2px;
  padding: 3px;
}

.reviewText {
  white-space: pre-wrap;
  word-wrap: break-word;
}
