.profCardDiv {
  border: solid 2px black;
  background-color: rgb(187, 181, 181);
  padding: 2px;
  border-radius: 8px;
  margin: 8px;
  justify-content: center;
  display: inline-block;
  width: 150px;
  height: 150px;
  cursor: pointer;
  animation: fadeIn 1s linear;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.profCardDiv:hover {
  background-color: rgb(222, 222, 222);
  box-shadow: 1px 1px black;
  transform: translate(-5px, -5px);
}

.profName {
  font-weight: bold;
}

.profType {
  color: red;
  font-size: 0.7rem;
}

.profRegion {
  color: green;
}

.reviewsSpan {
  font-size: 0.7rem;
}
