.profesionalCard {
  display: flex;
  border: solid black 2px;
  background-color: blanchedalmond;
}

.profesionalImage {
  width: 22vw;
  height: 22vw;
  padding: 8px;
  border-radius: 100%;
}

.profesionalInfo {
  margin: 8px;
}
