.searchOptionsDiv {
  height: 30px;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 0;
}

.searchOptions {
  cursor: pointer;
  margin: 0 4px;
  padding: 4px;
  border-radius: 3px;
}

.activeSearch {
  transition: 0.4s;
  border: solid black 1px;
  background-color: aquamarine;
}

.regionSelect {
  background-color: rgb(129, 139, 143);
  box-shadow: 2px 2px 2px 2px black;
  font-size: 1.61rem;
  border-radius: 19px;
  padding: 3px;
  padding-right: 70px;
  height: 44px;
  width: 60%;
  margin: 12px auto;
}

.searchInput {
  background-color: rgb(129, 139, 143);
  color: black;
  font-size: 1.61rem;
  border-radius: 19px;
  padding: 8px;
  padding-right: 70px;
  height: 44px;
  width: 60%;
  margin: 12px auto;
}

.comunaSelect {
  height: 50%;
}
